.section-clients__list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    
    // margin-top: -30px;
    // margin-left: -30px;
}
.section-clients__item {
    

    &:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    &:not(:nth-child(n+6)) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 480px) {
        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:not(:nth-child(n+5)) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        
        // margin-top: 30px;
        // margin-left: 30px;
        // flex-basis: calc((100%-90px)/3);

        &:nth-child(3) {
            margin-right: 0;
        }

        &:not(:nth-child(n+4)) {
            margin-bottom: 30px;
        }
    }
}
.section-clients__link {
    margin-right: 0;
    width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &:hover .section-clients__icon-company,
    &:focus .section-clients__icon-company {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 480px) {
        width: 210px;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
    }
}

.section-clients__icon-company {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
