.hero-section {
    
    background-color: #2F303A;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero-section__tittle {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero-section--btn {
    padding: 10px 32px;
}
.hero-section--overlay {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), 
                    rgba(47, 48, 58, 0.4)), url(../images/hero-overlay.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero@2x.jpg);
    }


    @media screen and (min-width: 768px) {
        min-width: 768px;
        background-image: url(../images/tablet-hero.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet-hero@2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: url(../images/desktop-hero.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop-hero@2x.jpg);
        }
    }
}