.projects-galary {
    background-color: var(--light-text-color);
}

.projects-galary__title {
    display: none;
}

.projects-galary__button-list {
    display: flex;
    
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        justify-content: center;
        flex-wrap: nowrap;
    }
}

.projects-galary__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;   
    border-radius: 4px;
    border: none;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    
    &:hover, 
    &:focus {
        color: var(--light-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.projects-galary__list-button-item:not(:last-child) {
    margin-right: 8px;
}
.projects-galary__list-button-item:nth-child(-n+3) {
    margin-bottom: 15px;

    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
}

.projects-galary__list {
      
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.projects-galary__box {
    // width: 370px;
    padding-bottom: 20px;
    background-color: var(--light-text-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    
    &:hover, 
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:not(:nth-child(n+9)) {
        margin-bottom: 30px;
    }

    @media screen and (min-width:480px) {
        width: 450px;
    }

    @media screen and (min-width:768px) {
        
    }

    @media screen and (min-width: 1200px) {

        &:not(:nth-child(3n + 3)) {
            margin-right: 30px;
        }

        &:not(:nth-child(n+7)) {
            margin-bottom: 30px;
        }
    }
}

.projects-galary__foto {
    width: 100%;
}

.projects-galary__tehno-kriak {
    position: relative;
    overflow: hidden;

    .projects-galary__tehno-kriak::before {
        position: absolute;
        display: inline-block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);        
        transform: translateY(100%);
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }
}

.projects-galary__link:hover .projects-galary__tehno-kriak::before {
    
    transform:translateY(0);
}

.projects-galary__text {    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;    
    color: var(--light-text-color);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
    opacity: 0;
}

.projects-galary__link:hover .projects-galary__text {
    opacity: 1;
}

.about-box {
    padding-top: 20px;
    padding-left: 24px;
}

.about-box__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
    
}
.about-box__about {
    font-size: 16px;
    line-height: 1.87;    
    color: var(--second-text-color);
    
}