.page-footer__adress {
    font-style: normal;
}
.page-footer__list {
    

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}
.page-footer__item {
    margin-bottom: 9px;
}

.page-footer__link-maps {
    font-size: 14px;
    line-height: 1.71;    
    color: var(--light-text-color);
}
.page-footer__link {
    font-size: 14px;
    line-height: 1.71;   
    color: var(--footer-contacts-color);
}