.footer-social__list {
    display: flex;
    margin-right: 93px;
}

.social-list__link--footer {
    background-color: rgba(255, 255, 255, .1);

}
.social-list__icon--footer {
    fill: var(--light-text-color);
}