.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    
    // margin-right: 50px;
}
.web {
    color: var(--accent-color);
}
.logo--dark {
    color: var(--dark);

}
.logo--light {
    display: block;
    color: var(--light-text-color) ;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}