.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    
    margin-right: 0;

    @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.web {
    color: var(--accent-color);
}
.logo--dark {
    color: var(--dark);

}
.logo--light {
    display: flex;
    justify-content: center;
    color: var(--light-text-color) ;
    margin-bottom: 20px;
    margin-right: 0;

    @media screen and (min-width: 768px) {
        justify-content: start;
        margin-right: 50px;
    }
}