.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--light-text-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
//   transition-property: transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  } 
}

.close-btn__icon {
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-nav__link--current {
  color: var(--accent-color);
}
.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__telephone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  margin-bottom: 32px;
}
.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.mobile-social__list {
  display: flex;
  justify-content: start;

}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-social__item:last-child {
  border: none;
}
.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}