.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;   
    color: var(--primary-text-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}