.subscribe {
    margin-left: auto;
}
.subscribe__topic-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subscribe__input input {
    font-size: 16px;
    line-height: 1.25;
    color: var(--light-text-color);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    
}
.subscribe__btn {
    padding: 10px 28px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
}

.subscribe__icon-send {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}