html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    padding-top: 80px;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

