:root {
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --light-text-color: #FFFFFF;
    --dark: #000000;
    --background-footer: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --main-font: 'Roboto', sans-serif;
}
